# -*- coding: UTF-8 -*-
# 调试模式开关
DEBUG = True
# HOST限制规则
ALLOWED_HOSTS = [
    '*',    # 因为使用了nginx/apache之类的前端,所以限定规则交给前端,这里设为 *(所有) 就可以了
]

SECRET_KEY = '4%y($e=ks6t8f)pk#fmobogt=l1wbn*fh=#a$p^973u&%-_bk1'

# 数据库设置
# <<一定要修改>>
DB = {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': 'caicai',
    'HOST': '127.0.0.1',
    'USER': 'root',
    'PASSWORD': '123456',
    'OPTIONS': {
        'charset': 'utf8mb4',
        'sql_mode': 'STRICT_TRANS_TABLES',
        'init_command': 'SET innodb_strict_mode=1',
    },
}

# 站点信息相关
# 使用第一个站点信息
SITE_ID = 1
# 后台左上角的"站点"外部链接
SITE_DOMAIN = "http://wocaicai.ngrok.xiqjv.com"
# 项目全名
SITE_NAME = "我猜猜"
# 项目简称
SITE_SHORTNAME = '我猜猜'

# 微信通讯配置
WECHAT_APP_ID = 'wx88d145f9314201be'
WECHAT_APP_SECRET = 'e2a732f9867b4a0cffa7e647b9d3910b'
WECHAT_APP_TOKEN = '6CPrGnvFQYAzmUmTsQitvnrJWgk4NiUt'
WECHAT_ENCRYPT_MODE = 'normal'
WECHAT_ENCRYPT_AES_KEY = '9jtEo1PghHJr8alicBBSCC8uImr4mGaW2nv2f9YHKpU'

APP_API_KEY = {
    'ios': 'DJhCZACPX{9,KWcOO0YJAA[DB&qVVsPT',
    'android': 'NyewR0O9JXlJ4ZvZMKnwO81X4qFN',
    'xcx': 'B/#NPb2{8VK&fKF3SA&y"fjm*Cd7v;MT',
    'wechat': 'SxJxdVetmP4uWPmqfIV5molIVXT1ehiT',
}

# 短信配置
SMS_APP_KEY = 'XXXXX'
SMS_APP_SECRET = 'XXXXX'
SMS_TYPE = 'normal'
SMS_SIGN_NAME = '阿里云短信测试专用'
SMS_TEMPLATE_ID = 'SMS_82260017'

MEDIA_DOMAIN_HOST = 'http://up.wocaicai.com'
STATIC_DOMAIN_HOST = 'http://static.wocaicai.com'
SUPER_GAME_SUBDOMAIN_NAME = 'https://share.gsgone.net'

# 分享页面的竞猜ID
SHARE_QUIZ_ID = 277

# 全局设定默认值,
# ***不要在这里更改***,
# 应该在服务启动后,通过后台修改
DEFAULT_CONFIGURATIONS = [
]

DJANGO_SILK = False

# 环信配置
HUANXIN_CLIENT_ID = 'YXA6cBLk0LiPEeeQcKHQ6it0MA'
HUANXIN_CLENT_SECRET = 'YXA6GWKyfLC0jze4p8WUrZdyI2gJyOw'
HUANXIN_APP_KEY = '1144171024115072#wocaicai'
HUANXIN_REST_URL = 'https://a1.sdb.easemob.com'
HUANXIN_ORG_NAME = '1144171024115072'
HUANXIN_APP_NAME = 'wocaicai'

# ETH钱包配置
ETH_WALLET_API_SECRET = 'qbrVGQ4$Dxrz&S]vbTG#!!'
ETH_WALLET_API_URL = 'http://127.0.0.1:3001/api/'

VERIFY_SIGNATURE = True

WEBSOCKE_SECRET = 'H6J4AzqYDpVK8ZM5A5GfJSROJw'

CACHES_MEMCACHED = {
    'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
    'LOCATION': '127.0.0.1:11211',
    'TIMEOUT': None,
}

CACHES_REDIS = {
    'BACKEND': 'django_redis.cache.RedisCache',
    'LOCATION': 'redis://127.0.0.1:6379/1',
    'OPTIONS': {
        'CLIENT_CLASS': 'django_redis.client.DefaultClient',
    },
    'KEY_PREFIX': 'cjyx_',
}

CHANNEL_LAYERS = {
    'default': {
        'BACKEND': 'channels_redis.core.RedisChannelLayer',
        'CONFIG': {
            "hosts": [('127.0.0.1', 6379)],
        },
    },
}
SMS_CL_SIGN_NAME = '【超级游戏】'
SMS_CL_TEMPLATE_REGISTER = '尊敬的用户您好！感谢您注册GSG.one！验证码：{code}'
SMS_CL_TEMPLATE_RESET_PASSWORD = '尊敬的用户您好！您正在找回密码。验证码：{code}，如不是您本人的操作，请忽略。'
SMS_CL_TEMPLATE_SET_PASSCODE = '尊敬的用户您好！您正在重置密保。验证码：{code}，如不是您本人的操作，请忽略。'
SMS_CL_TEMPLATE_PASSWORD = '尊敬的用户您好！您正在验证手机号。验证码：{code}，如不是您本人的操作，请忽略。'
SMS_CL_CHANGE_PASSWORD = '尊敬的用户您好！您正在验证手机号。验证码：{code}，如不是您本人的操作，请忽略。'
SMS_CL_BINDING_CELL_PHONE = '尊敬的用户您好！您绑定手机号码。验证码：{code}，如不是您本人的操作，请忽略。'
SMS_CL_RELIEVE_BINDING_CELL_PHONE = '尊敬的用户您好！您正在解除手机绑定。验证码：{code}，如不是您本人的操作，请忽略。'

SMS_CL_SIGN_NAME_EN = '【Super Game】'
SMS_CL_TEMPLATE_REGISTER_EN = 'Dear users！Thank you for registration GSG.one！verification code：{code}'
SMS_CL_TEMPLATE_RESET_PASSWORD_EN = 'Dear users！You\'re retrieving the password。verification code：{code}，If ' \
                                    'it\'s not your own operation，Please ignore it。'
SMS_CL_TEMPLATE_PASSWORD_EN = 'Dear users！You are verifying your phone number。verification code：{code}，If ' \
                              'it\'s not your own operation，Please ignore it。'
SMS_CL_CHANGE_PASSWORD_EN = 'Dear users！You are verifying your phone number。verification code：{code}，If ' \
                              'it\'s not your own operation，Please ignore it。'
SMS_CL_TEMPLATE_SET_PASSCODE_EN = 'Dear users！You are resetting secret security。verification code：{code}，' \
                                  'If it\'s not your own operation，Please ignore it。'
SMS_CL_BINDING_CELL_PHONE_EN = 'Dear users！You are binding the account to your phone number。verification code：{code}，' \
                               'If it\'s not your own operation，Please ignore it。'
SMS_CL_RELIEVE_BINDING_CELL_PHONE_EN = 'Dear users！You are unbinding the account to your phone。' \
                                       'verification code：{code}，If it\'s not your own operation，Please ignore it。'


# BTC钱包配置
BTC_WALLET_API_GUID = '887c59bc-4895-415b-a090-98b0a1710837'
BTC_WALLET_API_URL = 'http://47.254.75.129:3000'
BTC_WALLET_MAIN_PASSWORD = 'wecom$888'

GOOGLE_RECAPTCHA_OPEN = 1
IS_USER_CAPTCHA_ENABLE = False            # 是否开启图形验证码
CLUB_REVENUE = False           # 是否开启营收
REVENUE = False                  # 兑换开关
GSG_EXCHANGE_DATE = 50              # gsg兑换期限
GSG_EXCHANGE_START_DATE = '2018-07-02 00:00:00'              # gsg兑换开始时间
ETH_ONCE_EXCHANGE_LOWER_LIMIT = 0.01              # ETH单次兑换下限
ETH_EXCHANGE_INSTRUCTION_ONE = '1.每天下注流水前1000名用户可参与GSG兑换活动。'
ETH_EXCHANGE_INSTRUCTION_TWO = '2.俱乐部任意玩法的投注流水都可以。'
ETH_EXCHANGE_INSTRUCTION_THREE = '3.HAND俱乐部投注流水不参与此次活动。'
ETH_EXCHANGE_INSTRUCTION_ONE_FOUR = '4.每天兑换上限为5ETH。'
CAPTCHA_HTTP_PREFIX = 'http://'
CAPTCHA_GENERATOR = ['captcha.helpers.math_challenge', 'captcha.helpers.random_char_challenge']

ASIA_GAME_OPEN = True              # 是否有开启亚盘玩法

GUESS_RESULT_AUTO = True           # 股指玩法是否自动开奖

# etherscan_api_key
ETHERSCAN_API_URL = 'https://api.etherscan.io/api?module=proxy&action='
ETHERSCAN_API_KEY = 'UBF8T46ADRW5VNIGQ2SIKK99J5JYY3FWIV'

EXCHANGE = True
DIVIDEND_DECIMAL = 10000000
GSG_TOTAL_SUPPLY = 1000000000
GSG_LEAST_LOCK_AMOUNT = 100
GSG_UNLOCK_PREACT_TIME = 24 * 3600  # GSG解除提前提醒时间

DJANGO_SILK_ENABLE = False  # 是否开启silk扩展

USER_MESSAGE_SAVE_PATH = '/data/data/user_message/'
USER_MESSAGE_SEPARATOR = '||||'

# USDT、BCH钱包配置
BCH_WALLET_API_SECRET = 'qbrVGQ4$Dxrz&S]vbTG#!!'
BCH_WALLET_API_URL = 'http://127.0.0.1:3002/api/'

